extends layout
// kids need: id, name, gender, division 
// coaches need: id, name, gender
// teams need: allocate appropriate number, able to add more, and adjust numbers
// links between kids and coaches
// would love to jquery some info into various containers:
//   number of participants (in division and in teams)
//   number of coaches (in each team)
// niceties:
//   coach requests
//   renumber teams?? in divisions above if we add teams
// A separate container for draggable coaches
// CREATE TABLE players (rowid integer primary key not null, pId text, pName text, pGender text, pAge integer, pDivision text);
// CREATE TABLE links (rowid integer primary key not null,lpId text, lvId text);
// CREATE TABLE volunteers (rowid integer primary key not null, vId text, vName text, vGenger text, vAge integer, vTitle text);
//
block content
  h1= title
  p Welcome to #{title}

  #divisions
    #division-7-8.division
      #teams-7-8.teams
        p 7-8 Division Teams
        #team-01.team(ondrop="drop(event)" ondragover="allowDrop(event)") Team-01
        #team-02.team(ondrop="drop(event)" ondragover="allowDrop(event)") Team-02
        #team-03.team(ondrop="drop(event)" ondragover="allowDrop(event)") Team-03
      #players-7-8.players(ondrop="drop(event)" ondragover="allowDrop(event)")
        p 7-8 Division Players
        #player-00001.player(draggable="true",ondragstart="drag(event)")  Kim
          #player-data-00001.playerData  jsondata
        #player-00002.player(draggable="true",ondragstart="drag(event)")  Joey
        #player-00003.player(draggable="true",ondragstart="drag(event)")  JJ
        #player-00004.player(draggable="true",ondragstart="drag(event)")  Kitty
        #player-00005.player(draggable="true",ondragstart="drag(event)")  John
        #player-00006.player(draggable="true",ondragstart="drag(event)")  Kaley
        #player-00007.player(draggable="true",ondragstart="drag(event)")  AJ
        #player-00008.player(draggable="true",ondragstart="drag(event)")  Betty
        #player-00009.player(draggable="true",ondragstart="drag(event)")  Xander
        #player-00010.player(draggable="true",ondragstart="drag(event)")  Adam
        #player-00011.player(draggable="true",ondragstart="drag(event)")  Shalaka
        
    #division-9-10.division
      #teams-9-10.teams
        p 9-10 Division Teams
        #team-04.team(ondrop="drop(event)" ondragover="allowDrop(event)")  Team-04
        #team-05.team(ondrop="drop(event)" ondragover="allowDrop(event)")  Team-05
        #team-06.team(ondrop="drop(event)" ondragover="allowDrop(event)")  Team-06
      #players-9-10.players(ondrop="drop(event)" ondragover="allowDrop(event)")
        p 9-10 Division Players
        #player-00101.player(draggable="true",ondragstart="drag(event)")  Kailey
        #player-00102.player(draggable="true",ondragstart="drag(event)")  Matt
        #player-00103.player(draggable="true",ondragstart="drag(event)")  Navi
        #player-00104.player(draggable="true",ondragstart="drag(event)")  Maya
        #player-00105.player(draggable="true",ondragstart="drag(event)")  Meia
        #player-00106.player(draggable="true",ondragstart="drag(event)")  Jonica
        #player-00107.player(draggable="true",ondragstart="drag(event)")  Maren
        #player-00108.player(draggable="true",ondragstart="drag(event)")  Izzi
        #player-00109.player(draggable="true",ondragstart="drag(event)")  Eliot
        #player-00110.player(draggable="true",ondragstart="drag(event)")  Brett
        #player-00111.player(draggable="true",ondragstart="drag(event)")  Pierce
        
