doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/specific.css')
    link(rel='stylesheet', href='/stylesheets/dragNdrop.css')
    script(src='/javascripts/all.min.js')
  body
    block content
