$colW: 760px;
$mainW: 350px;
$subW: 320px;
$subsW: 300px;
$teamBg: #afa;
$coachW: 200px;

#teams {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: $mainW;
}
#coaches {
    border: 3px solid black;
    padding: 5px;
    margin: 5px;
    width: $coachW + 10;
    // position: absolute;
    position: fixed;
    left: 70%;
    top: 0;
    border-radius: 8px;
}
#players {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    width: $mainW;
}
.coachdrop {
    font-weight: bold;
    font-size: 120%;
}
.division {
    border: 3px solid green;
    width: $colW;
    vertical-align: top;
    border-radius: 12px;
    margin: 5px;
}
.teams {
    width: $mainW;
    display: inline-block;
    vertical-align: top;
}
.players {
    vertical-align: top;
    display: inline-block;
    width: $mainW;
}
.team-label {
}
.team {
    border: 2px solid blue;
    background-color: $teamBg;
    padding: 3px;
    margin: 3px;
    width: $subW;
    border-radius: 6px;
}
.coach {
    border: 2px solid cyan;
    // background-color: #fac;
    padding: 1px;
    margin: 1px;
    width: $coachW;
    border-radius: 6px;
}
.player {
    width: $subsW;
    border: 1px solid blue;
    // background-color: #cfc;
    padding: 1px;
    margin: 1px;
    border-radius: 4px;
    padding-left: 3px;
}
.playerData {
    display: none;
}
.inl {
    display: inline-block;
    border-color: $teamBg;
}
.team-info {
    width: 130px;
}
.team-name {
    font-weight: bold;
    font-size: 110%;
    border: none;
    padding: 2px;
    margin: 2px;
    width: 80px;
}
.team-gender {
    width: 60px;
}
p {
    padding: 2px;
    margin: 2px;
}
.coach-gender-M {
    background-color: #4af;
}
.coach-gender-F {
    background-color: #faa;
}
.player-gender-M {
    background-color: #6cf;
}
.player-gender-F {
    background-color: #fcc;
}
